.version.index /* version checker */
{
	color: #0000E0;
	background-color: #D8EA78;
}

.html
{
	background-color: #0071BC;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(100%, #29ABE2));
	background: -webkit-linear-gradient(top,#0071BC ,#29ABE2 100%);
	background: linear-gradient(to bottom,#0071BC ,#29ABE2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0071BC, endColorstr=#FF29ABE2, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0071BC', endColorstr='#FF29ABE2', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 528px;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(100%, #29ABE2));
	background: -webkit-linear-gradient(top,#0071BC ,#29ABE2 100%);
	background: linear-gradient(to bottom,#0071BC ,#29ABE2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0071BC, endColorstr=#FF29ABE2, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0071BC', endColorstr='#FF29ABE2', GradientType=0)";
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 84px;
	padding-bottom: 84px;
	width: 0.01px;
}

#u180-4
{
	z-index: 7;
	width: 293px;
	min-height: 23px;
	border-color: #FF00FF;
	background-color: transparent;
	text-align: center;
	font-size: 34px;
	color: #CEECFE;
	line-height: 41px;
	font-family: arizonia, cursive;
	font-weight: 400;
	margin-left: 333px;
	position: relative;
}

#pu177
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 2px;
}

#u177,#u177-bw
{
	z-index: 2;
	min-height: 249px;
}

#u179-4
{
	z-index: 3;
	width: 369px;
	min-height: 11px;
	background-color: transparent;
	text-align: center;
	font-size: 44px;
	color: #CEECFF;
	line-height: 53px;
	font-family: atomic-age, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 395px;
}

#u181-4
{
	z-index: 11;
	width: 85px;
	min-height: 28px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #CEECFE;
	font-family: arizonia, cursive;
	font-weight: 400;
	margin-left: 571px;
	margin-top: 5px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

